doctype html
html(lang='en', ng-app='brwry')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title BRWRY
		link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/d3.css')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')
		script(src='/js/services.js')
		script(src='/js/controllers.js')
		script(src='/js/d3.v3.js')
	body(ng-controller="BrewCtrl")
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.container
				div.navbar-header
					a.navbar-brand(href='#/') BRWRY
				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='#/') Home
						li
							a(href='#/setup') Setup
					ul.nav.navbar-nav.navbar-right
						li(ng-repeat="temperature in temperatures" ng-show="temperature.active")
							a(href='#/') {{temperature.value}} &deg;C
						li
							a(href='#/' ng-click="toggleAllGPIO()") All Off!
						li(ng-repeat="gpioPin in gpioPins | orderBy:gpioPin.address")
							a(href='#/' ng-click="toggleGPIO(gpioPin)") {{gpioPin.address}} - 
								span(ng-show="gpioPin.state") Off
								span(ng-hide="gpioPin.state") On
		div.container
			div(ng-view)