<div class="well well-lg">
<h1>Temperature Data:</h1>
	<ul>
		<li ng-repeat="temperature in temperatures" ng-show="temperature.active">{{temperature.value}} on sensor {{temperature.address}} at {{temperature.date}} (previously: {{temperature.lastValue}})</li>
	</ul>
</div>

<div class="well well-lg">
	<d3></d3>
</div>

<div class="well well-lg">
<h1>GPIO Pins Master Control:</h1>
	<ul>
		<li ng-repeat="gpioPin in gpioPins | orderBy:gpioPin.address"><button ng-click="toggleGPIO(gpioPin)">Toggle</button> GPIO Pin {{gpioPin.address}} has a value of {{gpioPin.value}}. Last changed: {{gpioPin.date}}</li>
	</ul>
</div>